body{
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  color: #282828 !important;
}
#particles-js{
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
h1{
  font-family: 'Patua One', cursive !important;
  font-weight: bold;
  color: #282828 !important;
}
p{
  font-family: 'Open Sans', sans-serif !important;
  color: #282828 !important;
  font-size: 0.9rem !important;
}
a:hover{
  text-decoration: none !important;
}
button:hover {
  cursor: pointer;
}
.navbar {
  padding: 20px 50px;
  background-color: #303030;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Patua One', cursive;
  padding: 0 15px;
  border-radius: 3px;
  border: 2px solid white;
}

.navbar a {
  color: white;  
}

.navbar-nav  .active{ 
  border-bottom: 2px solid white;
}

.navbar-light .navbar-brand:hover {
  color: white;
}
.landing-main{
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name-main h1{
  font-size: 4rem !important;
}
.name-main hr{
  border-top: 1px solid rgba(0,0,0,.4);
}
.cat-main{
  margin: 50px;
  width: 500px;
}
.cat-main button{
  width: 200px;
}
.sec-footer{
  margin-top: 50px;
  height: 150px;
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-footer h5{
  color: white;
}

.sticky-scroll {
  z-index: 999;
  padding: 15px;
  background-color: #303030;
  color: white;
  width: max-content;
  left: unset;
  cursor: pointer;
  border-radius: 3px;
  opacity: 80%;
  margin: 20px;
  border: 2px solid white;
}